@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

body{
  font-family: 'Pretendard-Regular';
}

.bounce-animation {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
<<<<<<< HEAD

::-webkit-scrollbar-thumb {
  background: black;
}


=======
>>>>>>> 2bffd4797987cec0386cb99da4feced012f84185
